.sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #272B35;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
}

.sidenav a{
        font-size: 100px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 50px;
        color: #818181;
        display: block;
        transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
}

#container-display {
        right: 0;
        position: absolute;
        transition: margin-right;
        padding: 20px;
}

@media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
}
